@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/iranyekan/eot/iranyekanwebbold.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/iranyekan/eot/iranyekanwebthin.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebthin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/iranyekan/eot/iranyekanweblight.eot');
	src: url('../fonts/iranyekan/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/iranyekan/eot/iranyekanwebregular.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/iranyekan/eot/iranyekanwebmedium.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebmedium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/iranyekan/eot/iranyekanwebextrabold.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebextrabold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 850;
	src: url('../fonts/iranyekan/eot/iranyekanwebblack.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebblack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/iranyekan/eot/iranyekanwebextrablack.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebextrablack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebextrablack.ttf') format('truetype');
}
@font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/yekanbakh/eot/YekanBakhFaBold.eot');
    src: url('../fonts/yekanbakh/eot/YekanBakhFaBold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/yekanbakh/woff/YekanBakhFaBold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/yekanbakh/ttf/YekanBakhFaBold.ttf') format('truetype');
  }
  @font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/yekanbakh/eot/YekanBakhFaMedium.eot');
    src: url('../fonts/yekanbakh/eot/YekanBakhFaMedium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/yekanbakh/woff/YekanBakhFaMedium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/yekanbakh/ttf/YekanBakhFaMedium.ttf') format('truetype');
  }
  @font-face {
    font-family: yekanbakh;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/yekanbakh/eot/YekanBakhFaLight.eot');
    src: url('../fonts/yekanbakh/eot/YekanBakhFaLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/yekanbakh/woff/YekanBakhFaLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/yekanbakh/ttf/YekanBakhFaLight.ttf') format('truetype');
  }
  /*
   * English Numeric
  */
  @font-face {
    font-family: yekanbakhen;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/yekanbakh/eot/YekanBakhEnBold.eot');
    src: url('../fonts/yekanbakh/eot/YekanBakhEnBold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/yekanbakh/woff/YekanBakhENBold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/yekanbakh/ttf/YekanBakhENBold.ttf') format('truetype');
  }
  @font-face {
    font-family: yekanbakhen;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/yekanbakh/eot/YekanBakhEnMedium.eot');
    src: url('../fonts/yekanbakh/eot/YekanBakhEnMedium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/yekanbakh/woff/YekanBakhENMedium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/yekanbakh/ttf/YekanBakhENMedium.ttf') format('truetype');
  }
  @font-face {
    font-family: yekanbakhen;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/yekanbakh/eot/YekanBakhEnLight.eot');
    src: url('../fonts/yekanbakh/eot/YekanBakhEnLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/yekanbakh/woff/YekanBakhENLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/yekanbakh/ttf/YekanBakhENLight.ttf') format('truetype');
  }
  @font-face {
    font-family: anjoman;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/anjoman/eot/Anjoman-SuperHeavy.eot');
    src: url('../fonts/anjoman/woff/Anjoman-SuperHeavy.woff?#iefix') format('embedded-opentype'), url('../fonts/anjoman/woff2/Anjoman-SuperHeavy.woff2') format('truetype');
  }
/*--------------------------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}
html{
    direction: rtl;
}
body{
    font-family: yekanbakhen,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: #4a5f73;
    background-color: #f5f5f5;
    position: relative;
    direction: rtl;
}
a{
    text-decoration: none;
    color: #4a5f73;
}
a:hover{
    color: #474747;
}
.container-max{
    width: 100%;
    max-width: 1676px !important;
    margin: 0 auto;
}
.container{
    max-width: 1400px !important;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
/*---------------------------------------------------------------------*/
header{
    background-color: #fff;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 6%);
    position: relative;
    z-index: 9999;
}
.dark-background{
    width: 100%;
    height: 100vh;
    display: block;
    opacity: 0;
    background-color: #000;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 150ms ease-in-out;
    z-index: -1;
}
.dark-background.active{
    visibility: visible;
    opacity: 0.30;
}
header .top-header{
    padding:15px 0 10px;
}
header .top-header .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .top-header .logo img{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .top-header .search-bar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .top-header .search-bar .search-form{
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    background-color: #f8f8f8;
}
header .top-header .search-bar .search-form input{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 0;
    outline: 0;
    background-color: transparent;
}

header .top-header .account-cart-buttons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .top-header .account-cart-buttons a{
    margin: 0 5px;
    color: #4a5f73;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    transition: all 150ms ease-in-out;
}
header .top-header .account-cart-buttons a:hover{
    border-color: #eb3a3a;
    color: #eb3a3a;
}
header .top-header .account-cart-buttons a img{
    width: 18px;
}
header .top-header .account-cart-buttons a.login-register{
    width: 150px;
    height: 50px;
}
header .top-header .account-cart-buttons a.mini-cart{
    width: 90px;
    height: 50px;
}
header .top-header .account-cart-buttons a.mini-cart span{
    padding: 3px 10px;
    border-radius: 50px;
    background-color: #eb3a3a4d;
}
nav.menu{
    height: 54px;
    padding: 10px  0 0 0;
    background-color: #fff;
}
nav.menu ul.main-menu{
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    background-color: #fff;
}
nav.menu ul.main-menu li.menu-item,
nav.menu ul.main-menu li.mega-menu{
    height: 43px;
    padding: 10px;
    position: relative;
    background-color: #fff;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}
nav.menu ul.main-menu li.menu-item:hover{
    border-bottom: 2px solid #eb3a3a;
}
nav.menu ul.main-menu li.menu-item a.menu-link,
nav.menu ul.main-menu li.mega-menu a.mega-menu-link{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav.menu ul.main-menu li.menu-item ul.submenu{
    width: 250px;
    padding-top: 20px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 15px;
    overflow: hidden;
    visibility: hidden;
    box-shadow: 0px 3px 12px rgb(0 0 0 / 6%);
    z-index: -1;
    transition: all 100ms ease-in-out;
}
nav.menu ul.main-menu li.menu-item:hover ul.submenu{
    top:30px;
    visibility: visible;
}
nav.menu ul.main-menu li.menu-item ul.submenu li.submenu-item{
    padding: 10px 20px;
}
nav.menu ul.main-menu li.menu-item ul.submenu li.submenu-item:hover{
    background-color: #f2f2f299;
}
nav.menu ul.main-menu li.menu-item ul.submenu li.submenu-item:hover a{
    color: #eb3a3a;
}
nav.menu ul.main-menu li.mega-menu{
    width: 170px;
    margin-left: 5px;
    border-radius: 8px;
    background-color: #fafafa;
    position: relative;
}
nav.menu ul.main-menu li.mega-menu a.mega-menu-link img.mega-menu-image{
    width: 18px;
    margin-left: 10px;
}
nav.menu ul.main-menu li.mega-menu a.mega-menu-link img.mega-menu-arrow{
    width: 10px;
    transform: rotate(180deg);
    transition: all 150ms ease-in-out;
}
nav.menu ul.main-menu li.mega-menu:hover a.mega-menu-link img.mega-menu-arrow{
    transform: rotate(0deg);
}
nav.menu ul.main-menu li.mega-menu .mega-submenu{
    width: 1600px;
    min-height: 500px;
    display: flex;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    right: 5px;
    overflow: hidden;
    visibility: hidden;
    box-shadow: 0px 3px 12px rgb(0 0 0 / 6%);
    transition: all 150ms ease-in-out;
    z-index: -1;
}
nav.menu ul.main-menu li.mega-menu:hover .mega-submenu{
    top: 30px;
    visibility: visible;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item{
    width: calc(100% - 220px);
    padding-top: 20px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-links{
    padding-top: 20px;
    border-left: 2px solid #eee;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-links a.mega-submenu-link{
    width: 220px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    transition: all 100ms ease-in-out;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-links a.mega-submenu-link img.mega-submenu-link-image{
    height: 10px;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-links a.mega-submenu-link.active{
    background-color: #f2f2f299;
    color: #eb3a3a;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item ul.mega-submenu-list{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item ul.mega-submenu-list li.mega-submenu-list-item {
    width: 100%;
    max-width: 180px;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item ul.mega-submenu-list li.mega-submenu-list-item a.mega-submenu-list-link{
    padding: 15px 0;
    margin-left: 20px;
    color: #2f2f2f;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight: bold;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item ul.mega-submenu-list li.mega-submenu-list-item a.mega-submenu-list-link::before{
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background-color: #aaa;
    position: absolute;
    top: 23px;
    right: 0px;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item .mega-items{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    cursor: context-menu;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item .mega-items.active{
    display: flex;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item .mega-items .items{
    width: 100%;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item .mega-items .items ul.mega-submenu-list li.mega-submenu-list-item a.mega-submenu-list-link span{
    padding: 0 10px;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item .mega-items .items ul.mega-submenu-list li.mega-submenu-list-item a.mega-submenu-list-link img{
    height: 8px;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item .mega-items .items ul.mega-submenu-list li.mega-submenu-list-item ul.mega-list{
    padding: 5px;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item .mega-items .items ul.mega-submenu-list li.mega-submenu-list-item ul.mega-list li.mega-list-item{
    padding: 5px;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item .mega-items .background-image{
    width: 250px;
    height: 250px;
    padding: 0 0 20px 20px;
    align-self: flex-end;
}
nav.menu ul.main-menu li.mega-menu .mega-submenu .mega-submenu-item .mega-items .background-image img{
    width: 100%;
    height: 100%;
}
.banners-vertical{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.banners-vertical img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 15%);
}
.banners-vertical img + img{
    margin-top: 10px;
}
.banners-horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.banners-horizontal img{
    width: 680px;
    border-radius: 16px;
}

.top-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
}
.top-section .slider{
    width: 50%;
    margin: 0 10px;
    border-radius: 16px;
    position: relative;
}
.top-section .slider .main-slider .owl-stage-outer .owl-stage .owl-item .slider-image .slider-link img{
    width: 688px;
    height: 375px;
    border-radius: 16px;
}
.top-section .slider .main-slider .owl-dots{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.top-section .slider .main-slider .owl-dots button.owl-dot{
    margin: 0 5px;
}
.top-section .slider .main-slider .owl-dots button.owl-dot span{
    width: 20px;
    height: 10px;
    background-color: #fff;
    opacity: 0.80;
    display: block;
    border-radius: 50px;
}
.top-section .slider .main-slider .owl-dots button.owl-dot.active span{
    width: 50px;
    opacity: 1;
    background-color: #eb3a3a;
}

.item-boxs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-boxs .item{
    min-width: 240px;
    padding: 10px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 10%);
}
.item-boxs .item:last-child{
    margin-left: 0;
}
.item-boxs .item img{
    width: 45px;
    height: 45px;
}
.item-boxs .item .text{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.item-boxs .item .text h6{
    margin-bottom: 5px;
    color: #eb3a3a;
    font-size: 18px;
}
.item-boxs .item .text p{
    color: #4a5f73;
    font-size: 14px;
    font-weight: 300;
}
.category-boxs .cat-title{
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: 300;
}
.category-boxs .cat-title span.red{
    color: #eb3a3a;
    font-weight: normal;
}
.category-boxs .category-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-boxs .category-items .cat-item{
    min-width: 240px;
    margin-left: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 10%);
}
.category-boxs .category-items .cat-item:last-child{
    margin-left: 0;
}
.category-boxs .category-items .cat-item a{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
}
.category-boxs .category-items .cat-item a img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.category-boxs .category-items .owl-nav{
    display: flex;
    position: absolute;
    top: -35px;
    left: 0;
}
.category-boxs .category-items .owl-nav button{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 5px; 
    display: block;
    background-color: #fff;
    border-radius: 50px;
    outline: 0;
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 10%);
}
.category-boxs .category-items .owl-nav button:last-child{
    margin-left: 0;
}
.products .product-title{
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products .product-title span{
    font-size: 20px;
    font-weight: 700;
}
.products .product-title a.product-link{
    color: #eb3a3a;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.products .product-title a.product-link i.fa{
    font-size: 10px;
    margin: 5px;
}
.products .product-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.products .product-items .product-item{
    padding: 10px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 10%);
}
.products .product-items .product-item .header .attributes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products .product-items .product-item .header .attributes .rate{
    font-size: 14px;
}
.products .product-items .product-item .header .attributes .rate i.fa{
    font-size: 10px;
    margin-right: 3px;
}
.products .product-items .product-item .header .attributes .offer{
    min-width: 50px;
    min-height: 25px;
    color: #fff;
    background-color: #eb3a3a;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products .product-items .product-item .header .attributes .offer span{
    font-size: 14px;
    font-weight: 500;
}
.products .product-items .product-item .header .attributes .offer span.percentage{
    font-size: 10px;
}
.products .product-items .product-item .header a img{
    width: 190px;
    height: 190px;
}
.products .product-items .product-item .colors{
    margin-bottom: 15px;
}
.products .product-items .product-item .colors ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.products .product-items .product-item .colors ul li.color{
    margin: 0 4px;
}
.products .product-items .product-item .colors ul li.color span{
    width: 25px;
    height: 25px;
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 1px solid #000000;
}
.products .product-items .product-item .body{
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.products .product-items .product-item .body a h2.title{
    max-width: fit-content;
    margin-bottom: 5px;
    font-size: 14px;
    color: #2f2f2f;
    overflow: hidden;
    text-overflow: ellipsis;
}
.products .product-items .product-item .body .price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.products .product-items .product-item .body .price .sale-price{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.products .product-items .product-item .body .price .sale-price strong{
    margin-left: 2px;
    color: #2f2f2f;
    font-size: 18px;
    font-weight: 700;
}
.products .product-items .product-item .body .price .sale-price img{
    width: 20px;
}
.products .product-items .product-item .body .price .cut-price{
    font-size: 14px;
    font-weight: 300;
}
.products .product-items .product-item .body .buttons{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.products .product-items .product-item .body .buttons button{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    color: #eb3a3a;
    background-color: #f3f3f3;
    outline: 0;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products .product-items .product-item .body .buttons button:hover{
    background-color: #d5d5d5;
}
.products .product-items .product-item .body .buttons button img{
    width: 20px;
}
.products .product-items .owl-nav button{
    width: 35px;
    height: 80px;
    display: block;
    background-color: #fff;
    border-radius: 8px;
    opacity: 0.8;
    position: absolute;
    top: 140px;
    visibility: visible;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 16%);
}
.products .product-items .owl-nav button.owl-prev{
    right: -20px;
}
.products .product-items .owl-nav button.owl-next{
    left: -20px;
}
.products .product-items .owl-nav button.owl-prev.disabled,
.products .product-items .owl-nav button.owl-next.disabled{
    opacity: 0;
    visibility: hidden;
}
