@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/iranyekan/eot/iranyekanwebbold.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/iranyekan/eot/iranyekanwebthin.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebthin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/iranyekan/eot/iranyekanweblight.eot');
	src: url('../fonts/iranyekan/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/iranyekan/eot/iranyekanwebregular.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/iranyekan/eot/iranyekanwebmedium.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebmedium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/iranyekan/eot/iranyekanwebextrabold.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebextrabold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 850;
	src: url('../fonts/iranyekan/eot/iranyekanwebblack.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebblack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/iranyekan/eot/iranyekanwebextrablack.eot');
	src: url('../fonts/iranyekan/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/woff2/iranyekanwebextrablack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/iranyekan/ttf/iranyekanwebextrablack.ttf') format('truetype');
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
html{
    direction: rtl;
}
body{
    font-family: iranyekan,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #474747;
}
.container{
    max-width: 1676px !important;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*---------------------------------------------------------------------*/
header{
    background-color: #fff;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 6%);
}
header .top-header{
    padding:15px 0 10px;
}
header .top-header .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .top-header .logo img{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .top-header .search-bar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .top-header .search-bar .search-form{
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    background-color: #f8f8f8;
}
header .top-header .search-bar .search-form input{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 0;
    outline: 0;
    background-color: transparent;
}

header .top-header .account-cart-buttons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .top-header .account-cart-buttons a{
    margin: 0 5px;
    color: #4a5f73;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    transition: all 150ms ease-in-out;
}
header .top-header .account-cart-buttons a:hover{
    border-color: #eb3a3a;
    color: #eb3a3a;
}
header .top-header .account-cart-buttons a img{
    width: 18px;
}
header .top-header .account-cart-buttons a.login-register{
    width: 150px;
    height: 50px;
}
header .top-header .account-cart-buttons a.mini-cart{
    width: 90px;
    height: 50px;
}
header .top-header .account-cart-buttons a.mini-cart span{
    padding: 3px 10px;
    border-radius: 50px;
    background-color: #eb3a3a4d;
}
nav.menu{
    height: 54px;
    padding: 10px  0 0 0;
}
nav.menu ul.main-menu{
    display: flex;
    justify-content: flex-start;
    align-items:center ;
}
nav.menu ul.main-menu li.menu-item,
nav.menu ul.main-menu li.mega-menu{
    padding: 10px;
    position: relative;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}
nav.menu ul.main-menu li.menu-item:hover{
    background-color: #f874742a;
    border-bottom: 2px solid #eb3a3a;
}
nav.menu ul.main-menu li.menu-item a.menu-link,
nav.menu ul.main-menu li.mega-menu a.mega-menu-link{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav.menu ul.main-menu li.menu-item ul.submenu{
    width: 250px;
    padding-top: 20px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 15px;
    overflow: hidden;
    visibility: hidden;
    box-shadow: 0px 3px 12px rgb(0 0 0 / 6%);
    z-index: -1;
    transition: all 100ms ease-in-out;
}
nav.menu ul.main-menu li.menu-item:hover ul.submenu{
    top:30px;
    visibility: visible;
}
nav.menu ul.main-menu li.menu-item ul.submenu li.submenu-item{
    padding: 10px 20px;
}
nav.menu ul.main-menu li.menu-item ul.submenu li.submenu-item:hover{
    background-color: #f874742a;
}
nav.menu ul.main-menu li.menu-item ul.submenu li.submenu-item:hover a{
    color: #eb3a3a;
}
nav.menu ul.main-menu li.mega-menu{
    width: 170px;
    margin-left: 5px;
    border-radius: 8px;
    background-color: #fafafa;
    position: relative;
}
nav.menu ul.main-menu li.mega-menu a.mega-menu-link img.mega-menu-image{
    width: 18px;
    margin-left: 10px;
}
nav.menu ul.main-menu li.mega-menu a.mega-menu-link img.mega-menu-arrow{
    width: 10px;
    transform: rotate(180deg);
    transition: all 150ms ease-in-out;
}
nav.menu ul.main-menu li.mega-menu:hover a.mega-menu-link img.mega-menu-arrow{
    transform: rotate(0deg);
}
nav.menu ul.main-menu li.mega-menu ul.mega-submenu{
    width: 1600px;
    height: 500px;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    position: absolute;
    top: 30px;
    right: 5px;
    visibility: visible;
    box-shadow: 0px 3px 12px rgb(0 0 0 / 6%);
    transition: all 150ms ease-in-out;
    z-index: -1;
}
nav.menu ul.main-menu li.mega-menu:hover ul.mega-submenu{
    top: 30px;
    visibility: visible;
}
nav.menu ul.main-menu li.mega-menu ul.mega-submenu li.mega-submenu-item{
    width: 230px;
    height: 100%;
    padding-top: 20px;
}
nav.menu ul.main-menu li.mega-menu ul.mega-submenu li.mega-submenu-item a.mega-submenu-link{
    padding: 10px 20px;
    font-size: 14px;
}
nav.menu ul.main-menu li.mega-menu ul.mega-submenu li.mega-submenu-item ul.mega-submenu-list{
    width: 100%;
    height: 100%;
}